# clangd / language server
/.cache/
/index/
*.idx

# Build artifacts
/build/
/build_test/
/compile_commands.json

# Local tooling output
/.logs/
/neovim_utils/quickfix_list.txt

# Python
/venv/
/__pycache__/
*.py[cod]
